 *{
   font-family: Arial, Helvetica, sans-serif;
 
  }
  body{
  padding: auto;
  }

  .card{
    align-items: center;
    align-content: center;
    
    border: 1px solid gray;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10pz;
  }
  .card p{
    padding: 5px;
    align-items: center;
  }
  .card.img{
      max-height:100px;
      overflow: hidden;
  }
  .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }